.video-card {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .video-card__img {
    width: 100%;
    display: block;
    border-radius: 8px;
  }
  .bookmark-button {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    background: rgba(16, 20, 30, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(16, 20, 30, 0.3);
  }
  
  .bookmark-icon {
    width: 1.rem;
    height: 1.2rem;
  }
