.video-card {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .video-card__img {
    width: 100%;
    display: block;
    border-radius: 8px;
  }
  .bookmark-button {
    position: absolute;
    top: 0.8rem;
    right: 7rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .bookmark-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
