/* CSS Didesniems ekranams */

@media only screen and (min-device-width: 768px) {
  .trending {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none; /* Paslepia scroll juosta */
    cursor: grab;
  }

  .trending.dragging {
    cursor: grabbing;
  }

  .trending::-webkit-scrollbar {
    display: none; /* Irgi paslepia scroll juosta*/
  }

  .carousel {
    flex: 0 0 auto;
    /* width: 100%; */
    position: relative;
  }

  .carousel__image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    object-fit: cover;
    max-width: 47rem;
  }

  .trending__content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 47rem;
    padding: 2.4rem 2.4rem;
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
    color: #fff;
  }

  .trending h3 {
    position: absolute;
    width: 25rem;
    color: #fff;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* .trending__bookmark {
    position: absolute;
    top: 1.6rem;
    right: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
  
  .trending__bookmark::before {
    width: 1rem;
    height: 1rem;
    fill: #fff;
  } */
   /* Second variant */
  /* .trending__bookmark {
    background: url(/public/assets/icon-bookmark-empty.svg) no-repeat;
    background-position: center;
    background-size: 0.8rem 1rem;
    background-color: #161d2f80;
    position: absolute;
    top: 1.6rem;
    right: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
  } */

  .trending__content--data {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    width: 7rem;
    flex-wrap: nowrap;
  }

  .trending__content--data .categories {
    font-size: 1.5rem;
    color: #aaa;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    padding: 0.1rem;
  }

  .trending__content--data span {
    display: flex;
    align-items: center;
  }

  .trending__content--data .dot {
    width: 1rem;
    height: 0.1rem;
    color: #fff;
    font-size: 0.67rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50%;
    margin: 0 0.1rem;
  }
  /* SVG FAILO CSS DAR REIKETU PATAISYTI */
  .trending__content--data .movie,
  .trending__content--data .series {
    margin: 0 1rem;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    object-fit: contain;
    max-width: 100%;
  }
}


/* .carousel__image-change {
  position: relative;
  overflow: hidden;
  max-width: 47rem;
  cursor: pointer;
}


.carousel__image-change:hover .carousel__image {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ), lightgray 50%;
  transition: background 0.3s ease;
}


.carousel__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.7rem; 
  height: 4.7rem; 
  border-radius: 28.5px;
  background: var(--Pure-White, #FFF);
  opacity: 0;
  transition: opacity 0.3s ease, background 0.3s ease;
}


.carousel__image-change:hover .carousel__play-button {
  opacity: 0.25;
}


.carousel__play-button-icon {
  width: 3rem; 
  height: 3rem;
  margin-right: 8px;
}


.carousel__play-text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Pure-White, #FFF);
  opacity: 100 !important;
} */


.carousel__image-change {
  @apply relative overflow-hidden cursor-pointer max-w-[47rem] rounded-[8px];
}
.carousel__image:hover {
  @apply bg-cover bg-no-repeat bg-neutral-300 opacity-50 group-hover:opacity-0 transition duration-300 ease-in-out;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), lightgray;
}
 .trending__overlay {
  @apply absolute inset-0 rounded-lg bg-black bg-opacity-50 flex justify-center items-center  opacity-0 transition-opacity duration-300 ease-in-out;
 }
 .carousel__image-change:hover .trending__overlay {
  @apply opacity-100;
 }
 .plays {
  @apply  bg-white bg-opacity-25 w-[11.7rem] h-[4.8rem] rounded-full flex justify-center items-center gap-3;
 }
 .play-icons {
  @apply w-12 h-12 mb-2 z-40;
 }
 .play-texts {
  @apply text-white text-lg;
 }

/* Mazesniu ekranu CSS */

@media only screen and (max-device-width: 768px) {
  .trending {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none;
    cursor: grab;
  }

  .trending.dragging {
    cursor: grabbing;
  }

  .trending::-webkit-scrollbar {
    display: none;
  }

  .carousel {
    flex: 0 0 auto;
    /* width: 100%; */
    position: relative;
  }

  .carousel__image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    object-fit: cover;
    max-width: 24rem;
  }

  .trending__content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7rem;
    width: 24rem;
    padding: 1.6rem 1.6rem;
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
    color: #fff;
  }

  .trending h3 {
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .trending__bookmark {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  .trending__bookmark::before {
    width: 1rem;
    height: 1rem;
    fill: #fff;
  }

  .trending__content--data {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    width: 7rem;
    flex-wrap: nowrap;
  }

  .trending__content--data .categories {
    font-size: 1.2rem;
    color: #aaa;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    padding: 0.1rem;
  }

  .trending__content--data span {
    display: flex;
    align-items: center;
  }

  .trending__content--data .dot {
    width: 1rem;
    height: 0.1rem;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50%;
    margin: 0 0.1rem;
  }

  /* SVG FAILO CSS DAR REIKETU PATAISYTI */

  .trending__content--data .movie,
  .trending__content--data .series {
    margin: 0 1rem;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    object-fit: contain;
    max-width: 100%;
  }
}
