/* CSS Didesniems ekranams */

@media only screen and (min-device-width: 768px) {
  .trending {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none; /* Paslepia scroll juosta */
    cursor: grab;
  }
  
  .trending.dragging {
    cursor: grabbing;
  }
  
  .trending::-webkit-scrollbar {
    display: none;  /* Irgi paslepia scroll juosta*/
  }
  
  .carousel {
    flex: 0 0 auto;
    /* width: 100%; */
    position: relative;
  
  }
  
  
  .carousel__image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    object-fit: cover;
    max-width: 47rem;
  }
  
  .trending__content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 47rem;
    padding: 2.4rem 2.4rem;
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
    color: #fff;
  }
  
  .trending h3 {
    position: absolute;
    width: 25rem;
    color: #fff;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .trending__bookmark {
    position: absolute;
    top: 1.6rem;
    right: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
  
  .trending__bookmark::before {
    width: 1rem;
    height: 1rem;
    fill: #fff;
  }
  
  .trending__content--data {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    width: 7rem;
    flex-wrap: nowrap;
  }
  
  .trending__content--data .categories {
    font-size: 1.5rem;
    color: #aaa;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    padding: 0.1rem;
  }
  
  .trending__content--data span {
    display: flex;
    align-items: center;
  }
  
  .trending__content--data .dot {
    width: 1rem;
    height: 0.1rem;
    color: #fff;
    font-size: 0.67rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50%;
    margin: 0 0.1rem;
  }
   /* SVG FAILO CSS DAR REIKETU PATAISYTI */
  .trending__content--data .movie,
  .trending__content--data .series {
    margin: 0 1rem;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    object-fit: contain;
    max-width: 100%;
  }
} 

/* Mazesniu ekranu CSS */

@media only screen and (max-device-width: 768px) {
.trending {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  scrollbar-width: none;
  cursor: grab;
}

.trending.dragging {
  cursor: grabbing;
}

.trending::-webkit-scrollbar {
  display: none;
}

.carousel {
  flex: 0 0 auto;
  /* width: 100%; */
  position: relative;

}


.carousel__image {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
  object-fit: cover;
  max-width: 24rem;
}

.trending__content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7rem;
  width: 24rem;
  padding: 1.6rem 1.6rem;
  border-radius: 0px 0px 8px 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  color: #fff;
}

.trending h3 {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trending__bookmark {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.trending__bookmark::before {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.trending__content--data {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  width: 7rem;
  flex-wrap: nowrap;
}

.trending__content--data .categories {
  font-size: 1.2rem;
  color: #aaa;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  padding: 0.1rem;
}

.trending__content--data span {
  display: flex;
  align-items: center;
}

.trending__content--data .dot {
  width: 1rem;
  height: 0.1rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50%;
  margin: 0 0.1rem;
}

   /* SVG FAILO CSS DAR REIKETU PATAISYTI */
   
.trending__content--data .movie,
.trending__content--data .series {
  margin: 0 1rem;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  object-fit: contain;
  max-width: 100%;
}
}