@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --color-pure-white: #ffffff;
    --color-red: #fc4747;
    --color-dark-blue: #10141e;
    --color-greyish-blue: #5a698f;
    --color-semi-dark-blue: #161d2f;

    /* FONT */
    --font: "Outfit";
  }

  html {
    font-size: 62.5%;
    font-family: var(--font);
    color: var(--color-pure-white);
  }

  #root {
    @apply bg-[var(--color-dark-blue)] font-[400] min-h-[100dvh] pb-[2rem];

    .pagecontent {
      @apply pt-10 sm:pt-20 lg:pl-40 lg:pt-10 pl-[1.6rem] sm:pl-10;
    }
  }

  h1 {
    @apply text-[3.2rem];
  }

  h2 {
    @apply text-[2.4rem];
  }

  h3 {
    @apply text-[2.4rem];
  }

  h4 {
    @apply text-[2rem];
  }

  h5 {
    @apply text-[1.8rem];
  }

  h6 {
    @apply text-[1.4rem] sm:text-[1.8rem];
  }

  p {
    @apply text-2xl;
  }

  .small-font {
    @apply text-[1.3rem];
  }
}

@layer components {
  .nav-bar {
    @apply sticky top-0 flex p-[1.6rem] bg-[var(--color-semi-dark-blue)] justify-between items-center sm:top-10 sm:mx-10 sm:rounded-2xl sm:h-[7.2rem] sm:pl-[2.4rem] lg:flex-col lg:w-max lg:top-10 lg:h-[calc(100dvh-5rem)] lg:fixed lg:justify-start lg:gap-20  z-10;

    .logo {
      @apply w-10 h-8 sm:w-[3.2rem] sm:h-[2.56rem];
    }

    nav {
      @apply flex w-[13.354rem] h-[1.6rem] justify-between items-center sm:w-[17.292rem] sm:h-8 sm:ml-[-3px] lg:flex-col lg:h-80 lg:w-8;

      a {
        @apply h-full lg:h-8;

        img {
          @apply h-full;
        }

        &.active img {
          @apply filter brightness-[300%];
        }
      }
    }

    .avatar {
      @apply relative w-10 h-10 border border-[var(--color-pure-white)] rounded-full sm:w-[3.2rem] sm:h-[3.2rem] lg:mt-auto cursor-pointer hover:after:content-['Logout'] hover:after:absolute hover:after:top-[2rem] hover:after:left-[-6rem] hover:after:text-xl hover:after:bg-[var(--color-pure-white)] hover:after:text-[var(--color-red)] hover:after:px-4 hover:after:py-2 hover:after:rounded-xl lg:hover:after:top-[-3rem] lg:hover:after:left-[3rem];
    }
  }

  .video-list {
    @apply grid grid-cols-2 gap-x-6 gap-y-[1.6rem] sm:gap-x-[2.9rem] sm:gap-y-[2.1rem] md:grid-cols-3 lg:grid-cols-4 pb-[2.4rem] sm:pb-[5.6rem] pr-[1.6rem] sm:pr-10;

    .video-list__title {
      @apply tracking-[-0.31px] sm:tracking-[-0.5px] text-[2rem] sm:text-[3.2rem] leading-[2.5rem] mb-[.9rem] col-span-full;
    }

    .video-card {
      @apply flex flex-col;
      .video-card__img {
        @apply rounded-[8px] duration-300 ease-in-out sm:w-[22rem] sm:h-[14rem];
      }
      .video-card__img:hover {
        @apply bg-cover bg-no-repeat bg-neutral-300 opacity-50 group-hover:opacity-100 transition duration-300 ease-in-out;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          lightgray;
      }
      .video-card__main {
        @apply relative overflow-hidden cursor-pointer max-w-[28rem];
      }
      .video-card__overlay {
        @apply absolute inset-0 rounded-lg bg-black bg-opacity-50 flex justify-center items-center  opacity-0 transition-opacity duration-300 ease-in-out;
      }
      .video-card__main:hover .video-card__overlay {
        @apply opacity-100;
      }
      .play {
        @apply bg-white bg-opacity-25 w-[11.7rem] h-[4.8rem] rounded-full flex items-center gap-[2.2rem];
      }
      .play-icon {
        @apply w-12 h-12 mb-2 z-40 ml-[1rem] mt-[0.5rem];
      }
      .play-text {
        @apply text-white text-[1.8rem];
      }

      .video-card__details {
        @apply flex items-center gap-[.6rem] sm:gap-[.8rem] opacity-75 mt-[.4rem] sm:mt-[.8rem];
      }

      p {
        @apply text-[1.1rem] sm:text-[1.3rem];

        /* img {
          @apply inline-block;
        } */
      }

      .video-card__icon {
        @apply flex items-center gap-2 sm:gap-[.6rem];

        img {
          @apply w-4 h-4 sm:w-[1.2rem] sm:h-[1.2rem];
        }
      }
    }
  }

  .trending-list {
    @apply block sm:mt-[4rem] pb-0 pr-0;
  }

  .login,
  .signup {
    @apply px-[2.4rem] pt-[4.8rem] md:pt-[8rem] lg:pt-[7.8rem] flex flex-col gap-[5.84rem];

    header img {
      @apply w-[3.2rem] h-[2.56rem] md:mb-[1.26rem] lg:mb-[2.3rem] mx-auto;
    }

    main {
      @apply max-md:px-[2.4rem] md:px-[3.2rem] pt-[2.2rem] bg-[var(--color-semi-dark-blue)] max-md:rounded-[10px] md:rounded-[20px] text-2xl sm:mx-auto sm:w-[40rem];

      h1 {
        @apply tracking-[-0.5px] md:mt-[0.8rem] mb-14 leading-normal;
      }

      input {
        @apply border-b-[1px] border-[var(--color-greyish-blue)] w-full h-[3.7rem] bg-[var(--color-semi-dark-blue)] text-[var(--color-pure-white)] pl-[1.4rem] pb-[1.7rem]  hover:border-[var(--color-pure-white)] focus-visible:outline-none focus:border-[var(--color-pure-white)] caret-[var(--color-red)];

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-background-clip: text;
          -webkit-text-fill-color: var(--color-pure-white);
        }

        &.error {
          @apply border-[var(--color-red)];
        }
      }

      .input-div {
        @apply relative mt-[2.4rem];

        .error-span {
          @apply text-[var(--color-red)] absolute top-[.2rem] right-[1.7rem];
        }
      }

      p {
        @apply w-max mx-auto mt-[2.4rem] flex gap-[0.9rem];

        a {
          @apply text-[var(--color-red)];
        }
      }
    }
  }

  .login {
    main {
      @apply pb-[3.2rem];
      button {
        @apply w-full h-[4.8rem] mt-16 rounded-[6px];
      }
    }
  }

  .signup {
    @apply md:mt-[0.8rem] lg:mt-[0.2rem];
    main {
      @apply pb-[2.4rem];
      button {
        @apply w-full h-[4.8rem] max-sm:mt-16 md:mt-[2.3rem] rounded-[6px];
      }
    }
    #SignupFooter {
      @apply md:pb-[0.8rem];
    }
  }
}
