@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --color-pure-white: #ffffff;
    --color-red: #fc4747;
    --color-dark-blue: #10141e;
    --color-greyish-blue: #5a698f;
    --color-semi-dark-blue: #161d2f;

    /* FONT */
    --font: "Outfit";
  }

  html {
    font-size: 62.5%;
    font-family: var(--font);
    color: var(--color-pure-white);
  }

  #root {
    @apply bg-[var(--color-dark-blue)];

    .pagecontent {
      @apply pt-10 sm:pt-20 lg:pl-40 lg:pt-10;
    }
  }

  h1 {
    @apply text-[3.2rem] font-light;
  }

  h2 {
    @apply text-[2.4rem] font-light;
  }

  h3 {
    @apply text-[2.4rem] font-medium;
  }

  h4 {
    @apply text-[1.8rem] font-medium;
  }

  p {
    @apply text-2xl font-light;

    .small-font {
      @apply text-[1.3rem];
    }
  }
}

@layer components {
  .nav-bar {
    @apply sticky top-0 flex p-[1.6rem] bg-[var(--color-semi-dark-blue)] justify-between items-center sm:top-10 sm:mx-9 sm:rounded-md lg:flex-col lg:w-max lg:top-10 lg:h-[calc(100dvh-5rem)] lg:fixed lg:justify-start lg:gap-20;

    .logo {
      @apply w-10 h-8 md:w-[3.2] md:h-[2.56];
    }

    nav {
      @apply flex w-[13.354rem] h-[1.6rem] justify-between items-center sm:w-[17.292] sm:h-8 lg:flex-col lg:h-80 lg:w-8;

      a {
        @apply h-full lg:h-8;

        img {
          @apply h-full;
        }

        &.active img {
          @apply filter brightness-[300%];
        }
      }
    }

    .avatar {
      @apply w-10 h-10 border border-[var(--color-pure-white)] rounded-full sm:w-[3.2rem] sm:h-[3.2rem] lg:mt-auto;
    }
  }
}
